$primary: #03438D;
$info: #E2EDFA;
$black: #000400;

$link-color: $black;
$link-decoration: none;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 868px,
        xl: 869px,
        xxl: 870px
);


