.header {
  margin-bottom: 50px;
  padding: 15px 0;
  background: var(--bs-white);
  border-bottom: 3px solid $black;

  .logo {
    align-self: center;
  }

  .user {
    display: flex;
    align-items: center;
    margin: 0;

    &__avatar {
      display: block;
      margin-right: 10px;
    }

    &__name {
      font-family: 'Azeret Mono', monospace;
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 2px solid $black;
      font-size: 16px;
    }
  }
}
