.btn {
  @include Border;
  @include BorderRadius;
  display: block;
  width: 100%;
  font-weight: bold;
  color: $black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 16px;
  font-size: 1rem;
  font-family: 'Azeret Mono', monospace;
  box-shadow: -2px 2px 0px $black;
  transition: all 0.5s;

  &:hover {
    box-shadow: none;
  }

  &-primary {
    background: $primary;
    color: $white;
  }
}