$primary: #03438D;
$info: #E2EDFA;
$black: #000400;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 868px,
  xl: 869px,
  xxl: 870px
);

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap-grid';
@import 'helper/reboot';
// @import 'normalize';
@import 'helper/cus-reset';

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Paytone+One&display=swap');

@import 'mixins/border';
@import 'mixins/border-radius';

@import 'helper/utilities';

@import 'component/form';
@import 'component/post';
@import 'component/button';

@import 'layout/header';
@import "layout/user-feature";

@import 'pages/home';
@import 'pages/add-post';
